@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,300&display=swap');

body {
    background-color: #EEF9BF;
}

.container {
    display: flex;
}

.cardboard {
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

.card {
    width: 117px;
    height: 146px;
    margin: 34px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.face {

    width: 100px;
    height: 100px;

    padding: 23px 8px;
   
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.face img {
    width: 100 !important;
}


.hidden {
    display: none;  
}

h1 {
    font-family: 'Roboto';
    margin-bottom: 47px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;
    color: #75B79E;
}

.clock {
    color: red;
    font-size: 28px;
    font-family: 'Roboto';
    position: fixed;
    left: 10%;
    top: 15%;
}